.tooling/final-project-b44516dca-c1a5-4a25-aba8-09d5ebf3da60/final-project-meseret-b.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="final-project-meseret-b-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="final-project-meseret-b-config" api="resource::01beec40-3d6a-4d7a-b721-728f4043687a:final-project-meseret-b:1.0.11:raml:zip:final-project-meseret-b.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config_Dev" doc:name="Web Service Consumer Config" doc:id="637fdc6b-4029-45c9-ab6c-52f6035e7508" >
		<wsc:connection wsdlLocation="http://34.125.166.19:6061/ws/employees.wsdl" service="EmployeePortService" port="EmployeePortSoap11" address="http://34.125.166.19:6061/ws" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config_Test" doc:name="Web Service Consumer Config" doc:id="f9d6cd36-d9ea-4aba-82d8-d2f1cbf7b763" >
		<wsc:connection wsdlLocation="http://34.125.166.19:6062/ws/employees.wsdl" service="EmployeePortService" port="EmployeePortSoap11" address="http://34.125.166.19:6062/ws" />
	</wsc:config>
	<flow name="final-project-meseret-b-main">
        <http:listener config-ref="final-project-meseret-b-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="final-project-meseret-b-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ae3edcff-0774-4d55-8cf5-60fa05505b83" type="WSC:SOAP_FAULT">
				<ee:transform doc:name="Transform Message" doc:id="fcd964aa-caab-48bc-bf2c-532e5ad935a0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "WSC:SOAP_FAULT"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="Variable-HttpStatus" ><![CDATA[%dw 2.0
output application/java
---
503]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ab8f3602-64cc-4fc5-b312-fdf4a1b0df74" type="WSC:CANNOT_DISPATCH">
				<ee:transform doc:name="Transform Message" doc:id="e396f04f-eabd-4dfb-b76d-4c2c70990ca3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	message: 'Server not found'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="final-project-meseret-b-console">
        <http:listener config-ref="final-project-meseret-b-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="final-project-meseret-b-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\employees\(id):final-project-meseret-b-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="cb022b08-9036-4541-8c3c-c8d0b6f3d684" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#DeleteEmployeeRequest: {
		ns0#id: vars.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="DeleteEmployee" doc:name="Consume" doc:id="f6c826d2-d69c-4f4a-b406-a4f64e2a08f2" config-ref="Web_Service_Consumer_Config_Dev">
		</wsc:consume>
		<ee:transform doc:name="Transform Message" doc:id="e5a44d24-0467-4142-bc6c-d297647f3430" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="patch:\employees\(id):application\json:final-project-meseret-b-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="a645656a-d248-4974-a9e2-30ef2aa18e56" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="8f1d2ec4-d63d-46f0-bff2-8675eb0aa24d" config-ref="Web_Service_Consumer_Config_Dev" operation="UpdateEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="55a5aa7a-88b9-49ed-a841-59bdefe19f38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	firstName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#lastName default "",
	id: vars.id as Number,
	department: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\employees:final-project-meseret-b-config">
		<ee:transform doc:name="Transform Message" doc:id="99c6cff7-6ef9-45a6-bd4c-fd81919884eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetAllEmployeesRequest: null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="5938e690-a654-4eda-bc78-48cc6c550d30" config-ref="Web_Service_Consumer_Config_Dev" operation="GetAllEmployees"/>
		<ee:transform doc:name="Transform Message" doc:id="e672f57f-b401-4ad7-b8c1-5185c3851085" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
payload.body.ns0#GetAllEmployeesResponse.*ns0#Employees map ( employee , indexOfEmployee ) -> {
	firstName: employee.ns0#firstName default "",
	lastName: employee.ns0#lastName default "",
	id: employee.ns0#id default 0,
	department: employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\employees\(id):final-project-meseret-b-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3e662938-6621-4c34-b859-65e30db8029c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetEmployeeRequest: {
		ns0#id: vars.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="7370f1d9-b8fe-47c7-bdea-ffa7a0b4a130" config-ref="Web_Service_Consumer_Config_Dev" operation="GetEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="09c31252-c086-4b7b-a478-366b3257bdc8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	firstName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#lastName default "",
	id: vars.id as Number,
	department: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\employees:application\json:final-project-meseret-b-config">
		<ee:transform doc:name="Transform Message" doc:id="30df27bd-ea0f-43c2-aa70-a152f1f42131" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#AddEmployeeRequest: {
		ns0#AddEmployee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="a4214fc5-4001-4613-84d1-d6dfe4ad9215" config-ref="Web_Service_Consumer_Config_Dev" operation="AddEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="29e83959-0b4f-49b9-bb8f-6d707ea027ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
